.htaccess
.DS_Store?
uploads/*
themes/twentyten/*
themes/widescreen/*
themes/twentyeleven/*
plugins/*
index.php
themes/tadhills/js/jquery.tools.min.js
themes/tadhills/css/tabs_slideshow.css
themes/tadhills/images/*
upgrade/*